---
import Layout from "../layouts/Layout.astro";
import About from "../components/About.astro";
import Technology from "../components/Technology.astro";
import Navbar from "../components/Navbar.astro";
import Introduction from "../components/Introduction.astro";
import {
  technologies,
  sortingVisualiserTech,
  backendCodeStubTech,
  backendCodeStubDesc,
  Experiences,
  socials,
} from "../lib";
import Sandbox from "@/components/Sandbox.astro";
import Work from "../components/Work.astro";
import sortingVisualiser from "../images/sorting-visualiser.png";
import swaggerApi from "../images/swaggerAPI.png";
import "../styles/global.css";

---

<Navbar />
<Layout title="Yao Hong">
  <Introduction />

  <div
    class="after:w-full after:h-[2px] after:bg-teal-400 after:block flex after:m-2"
  >
  </div>
  <section id="about" class="scroll-my-12">
    <h1 class="font-headline pb-2">About</h1>

    <About socials={socials} />
  </section>

  <section id="content" class="pt-6 scroll-my-12">
    <h1 class="font-headline pb-2">Skills</h1>
    <Technology
      title="Coding"
      technologies={technologies.filter((tech) => tech.skill === "language")}
    />
    <Technology
      title="Libraries & Frameworks"
      technologies={technologies.filter((tech) => tech.skill === "library")}
    />
  </section>

  <h1 class="font-headline pb-2">Experiences</h1>
  <section id="work" class="pt-15">
    {
      Experiences.map((obj) => {
        return (
          obj.responsibility && (
            <Work
              title={obj.description}
              duration={obj.duration}
              company={obj.name}
              responsibility={obj.responsibility}
              techStack={obj.techStack}
            />
          )
        );
      })
    }
    <!-- <Work title="Software Engineer" technologies={internTechStack} company={Experiences[0].name}/> -->
  </section>
  <section id="sandbox" class="pt-15 scroll-my-12">
    <h1 class="font-headline p-2">Sandbox</h1>

    <Sandbox
      title="Sorting Visualiser"
      technologies={sortingVisualiserTech}
      image={sortingVisualiser}
      demo="https://sorting-visualiser-738ffc.netlify.app/"
      github="https://github.com/yaohong6782/sorting-visualiser"
    description={[]}
    />
    <br />
    <Sandbox
      title="Backend API Stub"
      image={swaggerApi}
      technologies={backendCodeStubTech}
      demo=""
      github="https://github.com/yaohong6782/tracker-backend"
      description={backendCodeStubDesc}
    />
  </section>
  <br />
</Layout>

<style>
  h1 {
    font-size: 24px;
    font-weight: 300;
    /*  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; */
  }

  /* .font-headline {
    font-weight: 500;
    font-size: 26px;
  } */
</style>
