---
import Layout from '../layouts/Layout.astro';
import NavBar from '@src/components/NavBar.astro';
import Introduction from '@src/components/Introduction.astro';
import Experiences from '@src/components/Experiences.astro';
import Projects from '@src/components/Projects.astro';
import About from '@src/components/About.astro';
import Skills from '@src/components/Skills.astro';

import "@fontsource-variable/figtree";

import { socials, experiences, projects, language, libraries, tools} from "@src/lib/library.ts";

---

<Layout title="Yao Hong">
  <div class="border-b pb-2 lg:sticky top-0 z-50 bg-white dark:bg-slate-900">
    <div class="p-2 m-auto w-full xl:max-w-[1480px] md:max-w-screen-md">
      <NavBar/>
    </div>
  </div>
  <main class="px-6 pb-4 m-auto relative w-full xl:max-w-5xl">
    <section id="introduction" class="about-wrapper flex gap-12 items-center justify-around">
      <Introduction socials={socials}/>
    </section>

    <section id="about" class="pb-4 pt-4 scroll-my-16">
      <div class="flex items-center gap-4">
        <h1 class="text-3xl">About</h1>
        <div class="w-screen border-b-black border-b-2 dark:border-b-white"></div>
      </div>
      <About/>
    </section>
    <section id="experiences" class="pb-4 pt-4 scroll-my-16">
      <div class="flex items-center gap-4">
        <h1 class="text-3xl">Experiences</h1>
        <div class="w-screen border-b-black border-b-2 dark:border-b-white"></div>
      </div>
      {
      experiences.map((experience) => (
        <Experiences 
          companyName={experience.companyName}
          role={experience.role}
          duration={experience.duration}
          responsibility={experience.responsibility}
          techUsed={experience.techUsed}
        /> 
      ))
      }
    </section>
    <section id="skills" class="pb-4 pt-4 scroll-my-16">
      <div class="flex items-center gap-4">
        <h1 class="text-3xl">Skills</h1>     
      <div class="w-screen border-b-black border-b-2 dark:border-b-white"></div>
      </div>
      <Skills title="Languages" tech={language}/>
      <Skills title="Libraries & Frameworks" tech={libraries}/>
      <Skills title="Tools" tech={tools}/>
    </section>

    <section id="projects" class="pb-4 pt-4 scroll-my-16">
      <skills title="tools" tech={tools}/>
      <div class="flex items-center gap-4">
        <h1 class="text-3xl">Projects</h1>     
        <div class="w-screen border-b-black border-b-2 dark:border-b-white"></div>
      </div>
      {
      projects.map((project: any) => (
        <Projects
          projectName={project.projectName}
          techUsed={project.techUsed}
          image={project.image}
          demo={project.demo}
          github={project.github}
        />
      ))
      }
    </section>
  </main>
</Layout>

<style is:global>
.about-wrapper {
  height:100vh;
}
main {
  padding:0;
  margin:0rem;
}
</style>
