---
import Layout from '../layouts/Layout.astro';
import NavBar from '@src/components/NavBar.astro';
import Introduction from '@src/components/Introduction.astro';
import Experiences from '@src/components/Experiences.astro';
import Projects from '@src/components/Projects.astro';
import About from '@src/components/About.astro';
import Skills from '@src/components/Skills.astro';
import "@fontsource-variable/figtree";

import { socials, experiences, technologies, language, libraries, tools} from "@src/lib/library.ts";

---

<Layout title="Yao Hong">
  <div class="border-b pb-2 sticky top-0 z-50 bg-white">
    <div class="p-2 m-auto w-full xl:max-w-[1480px] md:max-w-screen-md">
      <NavBar/>
    </div>
  </div>
  <!-- <main class="px-6 pb-4 relative w-full m-auto md:max-w-lg xl:max-w-5xl" -->
  <main class="px-6 pb-4 m-auto relative w-full xl:max-w-5xl">
    <section class="about-wrapper flex gap-12 items-center justify-around">
      <Introduction socials={socials}/>
    </section>

    <section class="pb-4 pt-4">
      <div class="flex items-center gap-4">
        <h1 class="text-3xl">About</h1>
        <div class="w-screen border-b-black border-b-2"></div>
      </div>
      <About/>
    </section>
    <section id="experiences" class="pb-4 pt-4">
      <div class="flex items-center gap-4">
        <h1 class="text-3xl">Experiences</h1>
        <div class="w-screen border-b-black border-b-2"></div>
      </div>
      {
      experiences.map((experience) => (
        <Experiences 
          companyName={experience.companyName}
          role={experience.role}
          duration={experience.duration}
          responsibility={experience.responsibility}
          techUsed={experience.techUsed}
        /> 
      ))
      }
    </section>
    <section>
      <div class="flex items-center gap-4">
        <h1 class="text-3xl">Skills</h1>     
        <div class="w-screen border-b-black border-b-2"></div>
      </div>
      <Skills title="Language" tech={language}/>
      <Skills title="Libraries" tech={libraries}/>
      <Skills title="Tools" tech={tools}/>
    </section>
    <!-- <Projects/> -->
  </main>
</Layout>

<style is:global>
.about-wrapper {
  height:100vh;
}
main {
  padding:0;
  margin:0rem;
}
</style>
