---
import { Image } from "@astrojs/image/components";
import type { Tech } from "../lib";
import { Icon } from "astro-icon";
import sortingVisualiser from "../images/sorting-visualiser.png";
export interface Props {
  title: string;
  technologies: Tech[];
  image: string;
  demo: string;
  github: string;
  description: any;
}

const { title, technologies, image, demo, github, description } = Astro.props;
---

<div>
  <h3 class="pt-3">
    <span class="bg-slate-200 border-8 rounded-lg text-xl text-slate-800"
      >{title}</span
    >
  </h3>
</div>

<div class="rounded overflow-hidden shadow-md pt-2 max-w-3xl">
  <!-- <div class="grid"> -->
  <Image src={image} alt="sorting" />
  {
    description &&
      description.map((desc : []) => {
        return <p class="pl-3 pb-3">{desc}</p>;
      })
  }
  <div class="px-6 pt-4 pb-2 flex">
    {
      technologies
        .slice()
        .reverse()
        .map((tech) => {
          return (
            <div class="flex flex-col items-center group">
              <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">
                {tech.name}
              </span>
            </div>
          );
        })
    }
    <span
      class="inline-block bg-blue-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2"
    >
      <a href={github} target="_blank">Github</a>
    </span>
    {
      demo && (
        <span class="inline-block bg-red-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">
          <a href={demo} target="_blank">
            Demo
          </a>
        </span>
      )
    }
  </div>
</div>
<style>
  h3 {
    /* font-weight: 500; */
    color: #6b728e;
  }
</style>
