---
import { Icon } from "astro-icon";
import type { Tech } from "../lib";

export interface Props {
  title?: string;
  techStack: Tech[];
  duration: string;
  company: string;
  responsibility: string[];
}
const { title, company, responsibility, duration, techStack } = Astro.props;
---

<div>
  <h1 class="pt-1 pb-2 text-2xl">
    {company}
  </h1>
  <h3 class="pt-1 pb-2">
    <span class="bg-slate-200 border-8 rounded-lg text-xl text-slate-800">{title}</span>
  </h3>
  <h4 class="pb-2">
    <span class="text-lg text-zinc-500">{duration}</span>
  </h4>
  <div class="flex flex-col group pr-6 pb-4">
    {
      responsibility.map((res) => {
        return (
          <li>
            <span class="text-lg">{res}</span>
          </li>
        );
      })
    }
  </div>

  <h3 class="pt-0 pb-6">
    <span class="underline md:underline-offset-4">Tech Stack</span>
  </h3>
  <!-- <div class="px-6 pt-4 pb-2 flex">
    {
      technologies
        .slice()
        .reverse()
        .map((tech) => {
          return (
            <div class="flex flex-col items-center group pr-6">
              <Icon name={tech.icon} class="flex h-8 w-10" />
              <span>
                {tech.name}
              </span>
            </div>
          );
        })
    }
  </div> -->
</div>
